h4{
  color: red;
  font-size: 30px;
  text-decoration: underline;
}
form{
  background-color: aqua;
  padding: 5%;
  font-size: 20px;
}
input{
  height: 25px;
  width: 20%;
  box-shadow: 8px 8px 8px black;
}
.place{
  display: flex;
  flex-wrap: wrap;
 justify-content:space-evenly;
  background-color: #0ff00f;
}
.helo{
  background-color: aqua;
  padding: 7%;
}
.haa{
  color: magenta;
  background-color: #0ff00f;
  padding: 1%;
}
.LAKKA{
  background-color: #0ff00f;
}
#myId{
 background-color: #0ff00f;
}